.body {
    background-color: aliceblue;
    height: 100vh;
    text-align: center;
}
.form{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    width: 100px;
    margin: 20px;
}
.btn {
    background-color: red;
    width: 100%;
    font-size: larger;
    padding: 20px;
}
.btn:hover{
    background-color: green;
}

.error{
    color: red;
    font-size: xx-large;
    font-weight: 500;
}
.result{
    font-size: xx-large;
    font-weight: 600;
    text-align: center;
}