.body {
    background-color: aliceblue;
    height: 100vh;
}
.form{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
input{
    width: 100px;
    margin: 20px;
}
.btn {
    background-color: red;
    font-size: larger;
    padding: 20px;
}
.btn:hover{
    background-color: green;
}

.error{
    color: red;
    background-color: aquamarine;
}